@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.image {
  position: absolute;
  width: 10%;
  height: 20%;
}

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),  url('https://media.istockphoto.com/id/1830163120/photo/group-of-computer-programmers-talking-while-working-at-it-office.webp?b=1&s=170667a&w=0&k=20&c=VRIapK64DSelCb_UpBNP6fuTghDYSI6t9H2mYWFME80=');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 1% 0% 10%;
}

.container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13rem;
}

nav {
  height: 80px;
}

header {
  float: left;
  width: 100%;
}

nav ul {
  float: right;
  line-height: 80px;
  font-size: 35px;
  font-size: inline;
  color: #eb7620;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0px 5px;
}
nav ul li a:hover{
  background-color: #f54b1c;
  color:
  transition: 0.3s ease;
}

nav ul li a {
  color: #eff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}


.article {
  text-align: center;
  width: 50%;
  transform: translateY(25vh);
  margin: auto;
  color: #fff;

}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* This makes the body take up the full height of the viewport */
  margin: 0;
}

.article h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

.article h1 {
  text-indent: 50px;
  letter-spacing: 5px;
  color: rgba(238, 255, 250, 0.995)
}

.article p {
  font-size: 80px;
  color: rgba(238, 255, 255, 0.776);
  line-height: 10px;
  margin-bottom: 50px;
  text-align: center;
  text-indent: 50px;
  letter-spacing: 0.8px;
  line-height: 1.5;
}

 .btn {
  color: #fff;
  padding: 15px 30px;
  margin: 0%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  
}

.btn:hover {
  background-color: #fff;
  color: #70100b;
  transition: 0.5s ease;
}

.video-div {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.video {
  margin: 0 auto;
  position: absolute
}