
*{
  padding:0px;
  margin: 0px;
  font-size: 18px;
  font-family: sans serif, verderna;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),  url('https://media.istockphoto.com/id/1830163120/photo/group-of-computer-programmers-talking-while-working-at-it-office.webp?b=1&s=170667a&w=0&k=20&c=VRIapK64DSelCb_UpBNP6fuTghDYSI6t9H2mYWFME80=');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 1% 0% 0%;
  text-align: center;
}
p{
  width: 550;
  text-align: center;
  margin: 0 auto;
  text-indent: 10px;

}
#nav-bar{
  float: right;
  position: top; 
  color: rgba(248, 238, 238, 0.783);; 
}

#nav-bar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  margin-left: %;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
}

#email{
  color: rgba(248, 238, 238, 0.783);
  padding: 10px 15px;
}

.nav-link{
  float: right;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 600%;
  color: rgba(252, 255, 255);
}
.nav-link:hover{
  color: rgb(97, 240, 9);
  transition: 3sc ease;
}
.image{
  float: left;
  position: top;
  padding: 5px;
  width: 60px;
}

#home h1{
  text-indent: 50px;
  letter-spacing: 5px;
  color:#c6c607;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600px;
}

#home h1+p{
    text-align: center;
    color: white;
  }

#form{
  text-align: center;
  padding: 10px;
}
 #form input{
  text-align: left;
  padding: 0 0px;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;

}

.btn{
  display: flex;
    align-items: center;
    justify-content: center;
    background: #a20606;
    padding: 7px;
    color: rgba(103, 88, 239, 0.991);
    width: 9rem;
    margin: 0 auto;
    border-radius: 15px;
}
.btn:visited{
  color: rgb(120, 10, 145);
}
.btn:hover{
  color: rgb(87, 208, 235);
  transition: 3sc ease;
}
/*
.video {
  display: flex;
  justify-content: center;
  margin: 5% 10%;
  position: fixed;
}


 

.article {
  text-align: center;
  width: 50%;
  transform: translateY(25vh);
  margin: auto;
  color: #fff;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* This makes the body take up the full height of the viewport 
  margin: 0;
}

@media  only screen and (min-width: 650px) {
  flex-wrap: wrap;
}